@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #181818;
}

.hero {
  height: calc(100vh - var(--header-height));
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
  color: #f8a145;
}

.pswp__button .pswp__icn {
  transition: 0.2s ease-in-out;
}

.pswp__button:hover .pswp__icn {
  fill: #f8a145;
  scale: 1.1;
}

.pswp__custom-caption {
  background: rgba(75, 150, 75, 0.75);
  font-size: 16px;
  color: #fff;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}
.hidden-caption-content {
  display: none;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.change-color {
  color: #f8a145;
}

@media only screen and (min-width: 768px) {
  .parent:hover .child {
    display: block;
    position: absolute;
    background-color: #1a1a1a;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .child {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: none;
    z-index: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in forwards;
}

.info-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
